*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
a{
    text-decoration: none;
}
table {
    width: 100%;
    background-color: transparent;
}
.ico{
    width: 15px;
}
#seccion_botones{
    padding-left: 790px;
}
#mini_buttons{
    display: flex;
    background-color: #072146;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
}
#seccion_2{
    padding:10px 0px 10px 0px;
}
a.mini_btns_encabezado{
    color:#ffffff;
    line-height: 0px;
    text-decoration: none;
    padding-left: 3px;
    
}
#seccion_botones ul{
    list-style: none;
    display: flex;
}
#seccion_botones li{
    display:block;
    margin: 0px 30px 0px 0px;
    font-size: 12px;
}#logo{
    margin-left: 20%;
}
#logo_i{
    width: 150px;
}
#seccion_2{
    background-color: #072146;
    display: flex;
}
#flecha{
    background-color: none;
}
#usuario_dat{
    display:inline-flex;
}
#usuario_div{
    display: flex;
    color: #ffffff;
    margin-left: 700px;
    margin-bottom: 5px;
    justify-content: center;
}
#usuario_div a{
    text-decoration:none ;
    color:#FFF;
}
#flecha_id{
    margin:0px 10px 5px 10px;
    cursor: pointer;
}
#Contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 14px;
}
#botones_S{
    margin-left: 80px;
}
#btn_azul{
    color:#2dcccd;
}
#btn_amarillo{
    color:#f8cd51;
}
#Btn_principales{
    background-color: #004481;
    color:#ffffff;
    display: inline;
}
#Btn_principales ul{
    background-color: #004481;
    color:rgb(150, 150, 150);
    list-style: none;
    display: flex;
    padding-left: 20%;
}
#Btn_principales li{
    display: block;
    margin: 15px 170px 15px 0px; 
}
#Btn_principales a{
    line-height: 0px;
    text-decoration: none;
    color:rgb(150, 150, 150);
    font-size: 16px;
    
}
#Btn_principales.aqui{
    font-weight: bold;
    color:#ffffff;
}
#cuerpo{
    margin: 5px 0px 5px;
    display:flex;
}
#boton_panelsec2{
    width: 295px;
    padding-left: 5px;
    height: 200px;
    background-color: #004481;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
#btn_panelsec2{
    color:white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}
#panel_principal{
    padding-left: 20%;
    float: left;
    width: 630px;
}
#panel_principal_ajax{
    padding-left: 20%;
    float: left;
    width: 630px;
    margin-top: 30px;
}
#p_panelsec2{
    font-size: 14px;
    color:#ffffff;
    margin: 5px 0px 10px 0px; 
}
#a_btn_panelsec2{
    color:#2dcccd;
    font-weight: bold;
    font-size: 18px;
    margin: 30px 0px 0px 0px;
    line-height: 0px;
    text-decoration: none;
}
#panel_secundaria{
    width: 150px;
    margin: 0px 0px 0px 25px;
    float: left;
    font: inherit;
}
#panel_secundaria_ajax{
    margin:0px 0px 0px 50px;
    width: 280px;
    float: left;
    font: inherit;
    background-color:#e7ecf1;
    border:2px #787878;
    border-radius: 5px;
}
#panel_botones {
    margin: 20px 0px 30px 0px;
}
.boton_panelsec {
    margin-bottom: 10px;
}
#q_dig{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 25px;
    width: 250px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    color: #0065b7;
    background: linear-gradient(to top, #f4f4f4, white);
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.boton_panelsec button {
    display: inline-flex;
    padding-left: 20px;
    width: 300px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    color: #0065b7;
    background: linear-gradient(to top, #f4f4f4, white);
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.boton_panelsec_ajax button {
    display: inline-flex;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 15px;
    width: 250px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    color: #0065b7;
    background: linear-gradient(to top, #f4f4f4, white);
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
#principal_panel{
    margin: 30px 0px 30px 0px;
    background-color: #f4f4f4;
    height: 300px;
    padding: 25px 25px 25px 25px;
    border-radius: 8px;
    font-size: 20px;
}
#abrir-cuenta-btn{
    padding: 25px 25px 25px 10px;
}
.abrir-cta-online {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 4px;
}
#panel_contenido {
    display: block;
}
.icon_info {
    background-position: 0 0;
    height: 16px;
    width: 16px;
    position: relative;
    top: 5px;
    display: inline-block;
    cursor: pointer;
}
.bloque_switch-saldos {
    margin-bottom: 10px;
    margin-top: -5px;
    float: right;
    clear: both;
}
.btn-switch-saldos {
    padding: 2px 20px;
    font-size: 11px;
    border: 1px solid #00559d;
    background: linear-gradient(to bottom,#0079c1 0,#00559d 100%);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    position: relative;
}
.btn-switch-saldos_white {
    padding: 2px 20px;
    font-size: 11px;
    border: 1px solid #d5e2ee;
    background: linear-gradient(to bottom,#fff 0,#f5f7f8 100%); 
    color: #0072c9;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    position: relative;
}
.tables_panel {
    clear: right;
}
.tables_panel .tables_header {
    border-radius: 4px 4px 0 0;
    background-color: #f0f2ef;
    border: 1px solid #dcdcdc;
    min-height: 50px;
}
.tables_panel .tables_header h4 {
    margin: 15px 20px;
    font-size: 18px;
    color: #434a58;
}
.table_panel table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    clear: both;
}
.tables_body:hover{
    background-color: rgb(231, 236, 241);
}
.texto-importe-cabecera {
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    background-color: #f8f8f5;
    border-right: 1px solid #dcdcdc;
    padding: 4px 10px;
    color: #434a58;
    text-transform: uppercase;
}
.texto-body {
    padding: 10px 10px;
}
.tables_body_cuentas-prestamos {
    position: relative;
    border-bottom: 3px solid #f4f7f5;
}
.btn-table_body {
    cursor: pointer;
    padding-right: 5px;
    font-family: arial;
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    background-color: #1973b8 !important;
    background-image: linear-gradient(100deg, #043263 0%, #043263 50%, #004481 50%, #004481 100%) !important;
    background-size: 210% 100% !important;
    background-position: 100% center !important;
    background-repeat: no-repeat !important;
    color: #ffffff;
    border: none !important;
    border-radius: 0px !important;
}
.link {
    font-size: 12px;
    font-weight: bold;
    color: #0065b7;
}
.txt_td_tbody {
    font-size: 11px;
    color: #434a58;
    font-weight: normal;
    display: block;
}
.saldos {
    padding: 10px 10px !important;
    text-align: right;
    border-right: 0 solid #fff;
    border-left: 0 solid #fff;
    vertical-align: middle !important;
}
.text_footer_table {
    font-size: 12px;
    color: #71777f;
    padding: 3px;
}
.saldo_footer {
    font-size: 22px;
    font-weight: bold;
    color: #0078d2;
    margin-left: 10px;
    white-space: nowrap;
    display: inline-block;
    min-width: 160px;
}
#min{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}
#sub_panel{
    display: flex;
    margin-left: 59%;
}
#sub{
    color:#004481;
    font-weight:bold;
    font-size: 18px;
}
footer{
    margin-top: 50px;
    background-color: #072146;
    padding-top: 30px;
    padding-bottom: 50px;
    z-index: 10;
}
#btns_finales{
    cursor: pointer;
    display: flex;
    color: aqua;
    margin: 20px 0px 20px 0px;
    padding-left: 0px;
    padding-right: 150px;
    margin-left: 14%;
    justify-content: space-around;
}
.finales{
    color:rgb(84, 202, 255);
    font-size: 14px;
}
#fin{
    color:rgb(165, 165, 165);
    font-size:12px;
    margin-top: 30px;
    padding-left: 20%;
    background-color: #072146;
}
#cab_cuentas{
    margin-left:20%;
    margin-top:5px;
    background-color:#f4f4f4;
    width: 60%;
    padding: 35px 25px 25px 25px;
    border-radius: 5px;
}
#Productos h2{
    font-weight: normal;
    margin:10px 0px 10px 0px;
}
#Productos p{
    margin:10px 0px 40px 0px;
}

#Product_fil{
    display: flex;
}
.producto{
    cursor: pointer;
    width: 180px;
    height: 170px;
    background-color: #ffffff;
    padding: 15px 15px 15px 15px;
    margin: 0px 8px 0px 8px;
    border-radius: 5px;
}
.producto:hover{
    background-color:#0065b7;
    color: #ffffff;
}
.producto h3{
    font-size: 15px;
    text-align: center;
}
.producto p{
    text-align: center;
}
.producto img{
    margin-left: 50px;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#ajax{
    display: flex;
    margin-top: 30px;
}
.btns_header{
    cursor: pointer;
    margin-left: 20%;
    margin-top: 30px;
}
#btns_Ajax{
    cursor: pointer;
    margin-left: 25%;
}
hr.separador{
    margin-left: 20%;
    border-top:1px solid #d1d1d1;
    box-shadow:0 1px 2px #dfdfdf;
    width: 65%;
}
#img_pm{
    margin-left:20%;
    width: 990px;
    margin-bottom: 30px;
}
#questions_panel{
    background-color: #f4f4f4;
    margin-top: 30px;
    margin-left: 20%;
    width: 990px;
    padding: 25px 25px 80px;
}
#terms{
    margin-left: 50px;
    margin-top: 20px;
}
#questions_panel h3{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 10px;
}
#questions_panel button{
    margin:10px 25px 10px 25px;
    background-color: #f4f4f4;
    padding: 20px 40px 15px 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 940px;
    text-align: left;
    font-size: 16px;
    color: rgb(107, 107, 107);
}
#btn_azul2{
    cursor: pointer;
    color:#fff;
    background-color: #0065b7;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
    margin-left:48%;
    border: 0px;
}
#btn_select{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color:#bebfc0;
    background-color: #bebfc0;
    width: 150px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: 10px #ffffff;
    border-top:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    box-shadow:0 1px 2px #dfdfdf;
    padding: 5px 10px 5px;
}
#btn_non_select{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color:#004481;
    width: 150px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: 9px #ffffff;
    border-top:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    box-shadow:0 1px 2px #dfdfdf;
    padding: 5px 10px 5px 10px;
}
.btns_header h3{
    font-weight: lighter;
    font-size: 25px;
    margin-top: 60px;
    color:#004481;
}
#plus{
    width: 17px;
    float:right;
}
#terminos{
    margin:40px 25px 30px 23%;
    background-color: #ffffff;
    padding: 20px 40px 15px 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 940px;
    text-align: left;
    font-size: 16px;
    color: rgb(107, 107, 107);
} 
#usuario_dat ul{
    list-style: none;
    display: flex;
    position: relative;
}
#peque_menu{
    display: block;
    z-index: 20;
    position: inherit;
}
#mini_pnl_btn{
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:90px;
    right: 140px;
    border: 2px solid #d1d1d1;
    list-style: none;
}
#mini_pnl_btn>li>a{
    text-decoration: none   ;
    color:#004481;
}
#mini_pnl_btn_quiero>li>a{
    text-decoration: none   ;
    color:#004481;
}
#mini_pnl_btn li{
    background-color: white;
    color:#004481;
    width: 200px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#mini_pnl_btn li:hover{
    cursor: pointer;
    background-color: #d1d1d1; 
    text-align: center;
}
#mini_pnl_btn>li>a{
    font-size: 12px;
}
#terms{
    color:#787878;
    margin-left:22%;
    margin-right: 15%;;
    padding: 0px 25px 0px 25px;
    text-align: justify;
}
#terms p{
    margin-top: 15px;
    margin-bottom:15px;
}
#terms ul{
    margin-left: 20px;
    list-style-type: "-";
    font-size: 30px;
    color:#004481;
}
#terms ul li{
    color: #787878;
    font-size: 16px;
    padding-left: 20px;
}
#terms a{
    font-weight: bold;
    color:#004481;
    text-decoration: none;
}
#mini_pnl_btn_quiero{
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:70px;
    left: 225px;
    border: 2px solid #d5d8ed;
    list-style: none;
    border-radius: 5px;
}

#mini_pnl_btn_quiero li{
    background-color: white;
    color:#004481;
    width: 200px;
    text-align: left;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
#mini_pnl_btn_quiero li:hover{
    cursor: pointer;
    background-color: #d5d8ed; 
}
#mini_pnl_btn_quiero>li>a{
    font-size: 11px;
}